@charset "utf-8";
/* CSS Document */

/*@import url(base.css);*/

#menu1{
	width:100%;
	height:48px;
	background-color:#B0C4DE;
}

#menu1 ul{
	padding-top:5px;
}

#menu1 li{
	margin-left:10px;
	display:inline;
}

#table{
	width:100%;
	background-color:white;
}

#menu2 {
	width:100%;
	height:20px;
	background-color:#B0C4DE;
}

/*mybutton start*/
.mybutton1 { 
	padding: 6px;
	float: left;
}
.mybutton1 a{
	padding: 4px 28px 4px 28px;
	width:100px;
        color:black;
	font-size: 80%;
	font-family:"Arial";
	letter-spacing: 0.6mm;
        background: -moz-linear-gradient(top, #f6f8fa 0%, #dfe2ef 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(#f6f8fa), to(#dfe2ef));
        background: -o-gradient(#f6f8fa , #dfe2ef);
	border: 1px solid #0A2D5C;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	letter-spacing: 0.3mm;
	
}
.mybutton1 a:hover  {
	
	width: 100px;
	background: -moz-linear-gradient(top, #f6f8fa 0%, #afd0f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f8fa), to(#afd0f5));
	background: -o-gradient(#f6f8fa ,#afd0f5);
	
}

.mybutton1 a:active  {
	background: -moz-linear-gradient(top, #f6f8fa 0%, #afd0f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f8fa), to(#afd0f5));
	background: -o-gradient(#f6f8fa , #afd0f5);
}

/*mybutton end*/
